.lists1{
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    padding:70px 10px 140px 10px;
    gap: 50px;
}
.lists{
    display:flex;
    flex-direction: column;
    gap: 10px;
    color:rgb(112, 108, 108);
    font-weight: bolder;
}
.listheder{
    position: relative;
    display:flex;
    justify-content: space-around;
    gap:10px;
    color:rgb(109, 99, 99);
    font-weight: bolder;
}
.listi{
    display:flex;
    justify-content: space-around;
    gap:65px;
}
.listi .liti{
    width: 230px;
}
.dellis{
    color: red;
    cursor: pointer;
}
.dellis:hover{
    opacity: 0.5;
}
.list{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;
}
.listhr hr ,.lhrt{
    width: 90%;
}
.listehr{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;
}
.liste{
    display:flex;
    justify-content: space-around;
    gap: 10px;
}

.imglis{
    display:flex;
    justify-content: space-around;
    gap:50px;
}
.imglis span{
    width: 230px;
}
.liste img{
    position: relative;
    left: -20px;
    width:40px;
    height: 40px;;
}

.listright{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 70px;

 }
.listleft{
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    gap:10px;
 }
 .rglist{
    font-size: 25px;
    font-weight: bolder;
 }
.totcals{
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    gap:5px;
    color:#565656;
 }
.lisut{
    display:flex;
    justify-content:space-between;
    gap:20px;
    color:#565656;
 }
 .lisu{
    font-weight: bolder;
    font-size: 14px;
 }
 .lisuth{
    font-weight: bolder;
    font-size: 20px;
 }
