*{margin:0;
    padding:0;
    box-sizing:border-box;
}

.leftimg{
    width:600px;
    height:400px;
}
@media(max-width:900px){
    .leftimg{
        width:200px;
        height:200px;
    } 
}
@media(max-width:1200px){
    .leftimg{
        position: relative;
        right: 30px;
        width:300px;
        height:300px;
    } 
}