.letter{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding-bottom:30px;
    
}
.footerparticles{
    background:linear-gradient(#f1eff1,#f7f3f3,#fff4f4 );
    padding:0px 80px 5px 80px;
    display:flex;
    justify-content:space-around;
    gap:100px;
 }
 .fright{
     display:flex;
     flex-direction:column;
     padding:30px 180px;
     gap:10px;
 }
 .fright span{
     font-weight:bolder;
 }
 .fbest{
     color:#565656;
 }
 .fexclusive{
     color:#c037c0 ;
     display:flex;
     flex-direction:column;
     padding:30px 0;
 }
 .fexclusive span{
     font-size:40px;
     font-weight:bolder;
 }
 .emailcheck{
     display:flex;
     justify-content:center;
     align-items:center;
 }
 .email{
     width:300px;
     padding:15px 40px;
     border-radius:30px;
     border:none;
     padding-left:30px;
 }
 .fcheck{
     background:linear-gradient(180deg,#8d828d,#8b8888,#ac8989 60%);
     display:flex;
     justify-content:center;
     align-items:center;
     padding:15px 40px;
     border-radius:30px;
     color:#fff;
     cursor:pointer;
     position:relative;
     right:40px;
  }
 .fcheck:hover{
     opacity:0.9;
 }